/* 
    Document   : scripts
    Created on : 17/12/2013, 22:23:54
    Author     : italo
    Description:
       Estilos para caixa de dialog 
*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
.window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

#dialog {
  width:300px; 
  height:300px; 
  background-color:#ffffff;
 
  /*
 padding:5px;
    padding: 0px 10px 0px 10px;
 */
  	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	border-radius:	5px;
	
	border: 1px solid #ddd;
     margin-bottom: 20px;

}
#dialog_cadUsu {
  width:800px; 
  height:450px; 
  background-color:#ffffff;
 
  /*
 padding:5px;
    padding: 0px 10px 0px 10px;
 */
  	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	border-radius:	5px;
	
	border: 1px solid #ddd;
     margin-bottom: 20px;
   
}
.pos_center{
    float: left;
    width: 100%;
    margin-top: -5%;
}
.pos_dir{
   float: right;
   width: 50%;
}
.pos_esq{
   float: left;
   width: 50%;
}
.content_dialog{padding: 0px 5px 0px 1px; width: 100%;}
.close{display:block; text-align:right;}
.div_menus_actions{
    overflow-y: auto ;
    width: 100%;
    height: 220px;
}


/*----*/
.invisible{
    visibility:hidden;
    display: none;
}
/*----*/